<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="container-lg mt-5 register">
      <div class="text-center"><a class="logo" href="/">Humechanic</a></div>

      <div class="card m-auto" style="width: 30rem">
        <div class="card-header bg-dark text-center py-3" style="color: white">REGISTER</div>

        <div class="card-body">
          <form action="/user/register" method="post">
            <div class="row">
              <div class="col">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" value="<%= user.username %>" class="form-control <%= (errors.username)?'is-invalid':'' %>" /> <% if(errors.username){ %>
                <span class="invalid-feedback"><%= errors.username.message %></span>
                <% } %>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" value="" class="form-control <%= (errors.password)?'is-invalid':'' %>" /> <% if(errors.password){ %>
                <span class="invalid-feedback"><%= errors.password.message %></span>
                <% } %>
              </div>
            </div>
            <div class="d-grid mt-4">
              <button type="submit" class="custom-btn btn btn-dark">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
